{% extends 'index.html' %}

{% block content %}

<br />
<!-- Lisäyslomakkeen paikka -->
<div id="add-div"></div>
<br />

<h1>Products</h1>

<a onclick="showaddform()" class="btn btn-primary">Lisää uusi pakka</a>

{% for p in pakat %}

<div class="card" style="width: 50rem;">
    <div class="card-body">
        <h3 class="card-title">{{p.nimi}} </h3>
        <h5 class="card-text">Sarja: {{p.sarja.nimi}}</h5>
        <p class="card-text">harvinaisuus: {{p.harvinaisuus}} | vuosi: {{p.sarja.vuosi}}</p>
        <a href="/edit-product-get/{{p.id}}/" class="btn btn-primary">Edit</a>

        <a href="/confirm-delete-product/{{p.id}}/" class="btn btn-danger">Delete</a>

        <a href="/products-by-supplier/{{p.supplier.id}}/" class="btn btn-secondary">{{p.sarja.nimi}}´s all
            Products</a>

    </div>
</div>


{% empty %}

<div class="card" style="width: 50rem;">
    <div class="card-body">
        <p class="card-text">Ei pakkoja tietokannassa </p>
    </div>
</div>

{%endfor%}


<script>

    let y = `
    <h2 style="color: darkorange;">Please fill in form</h2>
    
    <div class="card" style="width: 20rem;">
        <div class="card-body">
            <form method="post" action="/add-pakka/">
                {%csrf_token %}
                <input class="card-text" class="card-text" type="text" placeholder="pakan nimi" name="nimi">
                <input class="card-text" type="text" placeholder="harvinaisuus" name="harvinaisuus">
                <br />
                <label for="sarja">Sarja</label>
                <select id="sarja" name="sarja">
                {% for s in sarjat %}
                  <option value="{{s.id}}">{{s.nimi}}</option>
                  {% endfor %}
                </select>
                <br/>
                <input type="submit" value="Confirm" class="btn btn-success btn-sm" name="">
                <input type="submit" id="hide-btn" class="btn btn-secondary btn-sm" onclick="hideaddform()" value="Cancel" name="">
            </form>
        </div>
    </div>`

    function showaddform() {
        document.getElementById("add-div").innerHTML = y
    }

    function hideaddform() {
        document.getElementById("add-div").innerHTML = ""
    }

</script>

{% endblock %}
